// Momentum Color Palette

$momentum_clr1: #FFC075;
$momentum_clr2: #F3682F;
$momentum_clr3: #F04A48;
$momentum_clr4: #C5124D;

$momentum_clr5: #B5D9B3;
$momentum_clr6: #299296;
$momentum_clr7: #DFBFE8;
$momentum_clr8: #9E53A8;

$momentum_clr9: #FFFFFF;
$momentum_clr10: #CACACE;
$momentum_clr11: #7D7D7D;
$momentum_clr12: #323132;


$clr1: $momentum_clr6;
$clr2: $momentum_clr5;
$clr3: #b5d9b377;
$clr4: #b5d9b32c;

//$clr_brdr: #292626;
$clr_brdr: #29262688;

// Tab
$color_1: $momentum_clr6;
$color_2: $momentum_clr2;
$color_3: $momentum_clr9;
$color_4: $momentum_clr6;

$color_5: $momentum_clr1;
$color_6: $momentum_clr2;

